@charset "UTF-8";
    ::-webkit-scrollbar-thumb {
    background-color:rgba(41,36,33,0.25);
    -webkit-border-radius:10px;
}
::-webkit-scrollbar {
    width:10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color:rgba(41,36,33,0.35);
    -webkit-border-radius:10px;
}
::-webkit-scrollbar-track-piece {
    background-color:lightgray;
}
@font-face {
    font-family:'YueHei';
    src:url('../fonts/kevin_yuehei.ttf');
    src:url('../fonts/kevin_yuehei.ttf?#iefix') format('embedded-opentype'),url('../fonts/kevin_yuehei.ttf') format('ttf'),url('../fonts/kevin_yuehei.ttf')  format('truetype'),url('../fonts/kevin_yuehei.ttf#YueHei') format('svg');
}
@font-face {
    font-family:'WeiRuanYaHei';
    src:url('../fonts/kevin_yahei.ttf');
    src:url('../fonts/kevin_yahei.ttf?#iefix') format('embedded-opentype'),url('../fonts/kevin_yahei.ttf') format('ttf'),url('../fonts/kevin_yahei.ttf')  format('truetype'),url('../fonts/kevin_yahei.ttf#WeiRuanYaHei') format('svg');
}
@font-face {
    font-family:'YouYuan';
    src:url('../fonts/kevin_youyuan.ttf');
    src:url('../fonts/kevin_youyuan.ttf?#iefix') format('embedded-opentype'),url('../fonts/kevin_youyuan.ttf') format('ttf'),url('../fonts/kevin_youyuan.ttf')  format('truetype'),url('../fonts/kevin_youyuan.ttf#YouYuan') format('svg');
}
@font-face {
    font-family:'KevinQuantico';
    src:url('../fonts/kevin_quantico.woff');
    src:url('../fonts/kevin_quantico.woff?#iefix') format('embedded-opentype'),url('../fonts/kevin_quantico.woff') format('woff'),url('../fonts/kevin_quantico.woff')  format('truetype'),url('../fonts/kevin_quantico.woff#KevinQuantico') format('svg');
}
body,h1 {
    padding:0;
    margin:0;
    color:white;
    font-family:"YueHei";
}
header {
    position:fixed;
    left:0;
    right:0;
    background-color:rgba(34,34,34,1);
    box-shadow: 0px 0px 5px lightgray;
    height:48px;
    z-index:1
}
.logo {
    height:100%;
    width:180px;
    padding-left: 32px;
    /*text-align:center;*/
}
.logo h1 {
    font:normal 24px/48px "KevinQuantico";
    cursor: pointer;
    transition:all 0.8s;
}